body {
	text-align: center;
	text-decoration: none;
	margin: 0;
}
h1 {
	text-transform: uppercase;
	font-family: Raleway;
	color: #0d2c40;
	letter-spacing: 1px;
	font-weight: 400;
	font-size: 45px;
	margin: 0;
}
h2 {
	text-transform: uppercase;
	font-family: Raleway;
	color: 0d2c40;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 20px;
}
.links {
	font-family: raleway;
	color: #f15b31;
	letter-spacing:1px;
	font-weight:600;
	font-size:18px;
	text-decoration:none;
}
p {
	font-family: "droid serif";
	line-height:26px;
	font-size:18px;
}
header {
	background-color:#f15b31;
	color:#FFFFFF;
	padding:30px 20px 30px 0;
}
nav {
	background-color:#00a6b3;
	font-color: #FFFFFF;
	padding:20px 0;
}
a {
	margin:0 20px;
	border-bottom:2px solid transparent;
}
a:hover {
border-color:white;
}
main {
	width:850px;
	margin:35px auto;
}
img{
	margin:40px 8px;
}
footer{
	text:uppercase;
	padding: 0 20px;
	background-color:#0d2c40;
	text-color:white;
	font-size:14px;
	letter-spacing: .08em;
	font-weight:500;
}
.copyright{
	font-family:raleway;
	float:left;
}
.message{
	font-family:raleway;
	float:right;
}
.clearfix:after {
visibility: hidden;
display: block;
content: " ";
clear: both;
height: 0;
font-size: 0;
}
.name{
	color:#f15b31;
	font-weight:700;
}